* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    width: 100%;
    margin: 0px auto;
    background-color: #F1F3F4;
    list-style: none;
    font-family: 'Be Vietnam', sans-serif;
  }
  
  .mainHeader {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90px;
    background-color: white;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  
  .hamburgerIcon {
    margin-left: 1%;
    display: none;
    margin-top: -5px;
  }
  
  .hamburgerIcon > div {
    height: 3px;
    width: 30px;
    background-color: #817d7d;
    margin-top: 5px;
  }
  
  .mainHeaderFirst {
    width: 20%;
    min-width: 200px;
    margin-left: 1%;
    text-decoration: none;
  }
  
  .mainHeaderFirst > a > img {
    width: 100%;
  }
  
  .mainHeaderSecond {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    text-decoration: none;
    margin-left: 3%;
    cursor: pointer;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-weight: 500;
  }
  
  .mainHeaderSecond > a {
    display: block;
    color: #75797e;
    text-decoration: none;
    -webkit-transition: .4s all ease-in-out;
    transition: .4s all ease-in-out;
  }
  
  .mainHeaderSecond > div {
    -webkit-transition: .4s all ease-in-out;
    transition: .4s all ease-in-out;
  }
  
  .mainHeaderSecond > a:hover {
    color: #434547;
  }
  
  .mainHeaderSecond > div:hover {
    color: #434547;
  }
  
  .mainHeaderSecond2 {
    display: none;
    width: 60%;
    text-decoration: none;
    margin-left: 3%;
    cursor: pointer;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-weight: 500;
  }
  
  .mainHeaderSecond2 > a {
    display: block;
    color: #75797e;
    text-decoration: none;
    -webkit-transition: .4s all ease-in-out;
    transition: .4s all ease-in-out;
  }
  
  .mainHeaderSecond2 > div {
    -webkit-transition: .4s all ease-in-out;
    transition: .4s all ease-in-out;
  }
  
  .mainHeaderSecond2 > a:hover {
    color: #434547;
  }
  
  .mainHeaderSecond2 > div:hover {
    color: #434547;
  }
  
  .mainHeaderThird {
    width: 20%;
    margin-left: 5%;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .mainHeaderThird > span {
    -webkit-transition: .4s all ease-in-out;
    transition: .4s all ease-in-out;
    color: #1A73E8;
    cursor: pointer;
  }
  
  .mainHeaderThird > span:hover {
    color: #0750af;
  }
  
  .mainHeaderThird > button {
    -webkit-transition: .4s all ease-in-out;
    transition: .4s all ease-in-out;
    margin-left: 8%;
    padding: 6% 11% 6% 11%;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #1A73E8;
  }
  
  .mainHeaderThird > button:hover {
    background-color: #0750af;
  }
  
  .mainLargeScreenList {
    position: absolute;
    width: 250px;
    height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: white;
    z-index: 1;
    left: 65%;
    text-decoration: none;
    top: 7.8%;
    border-radius: 10px;
    -webkit-transition: .4s all ease-in-out;
    transition: .4s all ease-in-out;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: none;
  }
  
  .mainLargeScreenList > a {
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding-top: 5px;
    padding-left: 8%;
    color: #75797e;
    -webkit-transition: .4s all ease-in-out;
    transition: .4s all ease-in-out;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .mainLargeScreenList > a:hover {
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: #434547;
    background-color: #F1F3F4;
  }
  
  .mainMediumScreenList {
    position: absolute;
    width: 220px;
    height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    z-index: 1;
    left: 65%;
    top: 7.6%;
    display: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .mainMediumScreenList > a {
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding-top: 5px;
    padding-left: 8%;
    color: #75797e;
    -webkit-transition: .4s all ease-in-out;
    transition: .4s all ease-in-out;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .mainMediumScreenList > a:hover {
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: #434547;
    background-color: #F1F3F4;
  }
  
  .mainSmallScreenList {
    display: none;
  }
  
  .hamburgerMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
    height: 100vh;
    margin-top: -9.3vh;
    background-color: white;
    z-index: 111;
    color: #75797e;
    -webkit-transition: .4s all ease-in-out;
    transition: .4s all ease-in-out;
  }
  
  .hamburgerMenu > div:nth-child(1) {
    width: 100%;
    margin-top: 3%;
    border-bottom: 1px solid #b0b2b4;
    background-color: white;
    height: 8vh;
  }
  
  .hamburgerMenu > div:nth-child(1) > img {
    width: 100%;
  }
  
  .hamburgerMenuFirst {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    padding: 8%;
    padding-left: 15%;
    border-bottom: 1px solid #babbbd;
  }
  
  .hamburgerMenuFirst > a {
    margin-top: 20px;
    color: #6a6c6e;
    -webkit-transition: .4s all ease-in-out;
    transition: .4s all ease-in-out;
    text-decoration: none;
  }
  
  .hamburgerMenuFirst > a:hover {
    color: #232424;
  }
  
  .hamburgerMenuSecond {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5%;
    color: #1A73E8;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  
  .hamburgerMenuSecond > span {
    -webkit-transition: .4s all ease-in-out;
    transition: .4s all ease-in-out;
  }
  
  .hamburgerMenuSecond > span:hover {
    color: #0a59c0;
  }
  
  .hamburgerMenuSecond > button {
    margin-top: 20px;
    height: 50px;
    width: 150px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #1A73E8;
    -webkit-transition: .4s all ease-in-out;
    transition: .4s all ease-in-out;
  }
  
  .hamburgerMenuSecond > button:hover {
    background-color: #0a59c0;
  }
  
  @media (max-width: 1299px) {
    .mainHeaderSecond {
      display: none;
    }
    .mainHeaderSecond2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    .mainHeaderThird {
      margin-right: 3%;
    }
  }
  
  @media (max-width: 760px) {
    .hamburgerIcon {
      margin-left: 4%;
      display: block;
      cursor: pointer;
    }
    .mainHeaderFirst > a {
      margin-left: 5%;
    }
    .mainHeaderSecond {
      display: none;
    }
    .mainHeaderSecond2 {
      display: none;
    }
    .mainHeaderThird {
      display: none;
    }
  }
  .bg {
    height: 70px;
    width: 1366px;
    background-color: yellow;
    clear: both;
  }
  .bgc {
    padding: 50px 0px 0px 50px;
    float: left;
    background-color: white;
  }
  .bgc1 {
    margin: 5px 0px 5px 0px;
    clear: both;
  }
  .bgc1 > img {
    float: left;
  }
  .bgc1 > p {
    background-color: yellow;
    width: 200px;
  }
  .bgc >.bgc2 >h1 {
    margin: 5px 0px 5px 0px;
    width: 600px;
    font-size: 40px
  }
  .bgc >.bgc3 >img {
    margin: 25px 40px 25px 0px;
  }
  .bgc4 > button{
    clear: both;
    background-color: blue;
    padding: 10px 25px 10px 15px;
    color: white;
    font-size: 15px;
    width: 150px;
    margin: 10px 0px 10px 0px;
  }

  .bgc5 {
    float: left;
    width: 650px;
    padding: 0px 250px 150px 0px;
    background-color: white;
  }
  .abc {
    clear: both;
    height: 50px;
  }
  .bgm {
    background-color: white;
  }
  .abcd {
    margin: 10px 10px 10px 70px;
    padding: 20px 50px 20px 20px;
    float: left;
  }
  .abcd3{
  width: 700px;
  float: left;
  padding: 0px 50px 0px 20px;
  }
  .abcd1 {
    margin: 10px 10px 10px 0px;
  }
  .abcde1 > h1 {
    text-align: center;
  } 
  .abcde2 {
    float: left;
    margin: 50px 10px 10px 80px;
  }
  .abcde3  {
    float: left;
    color: gray;
    width: 500px;
    padding: 50px 10px 20px 20px;
  }
  .abcde3 > h2 {
    padding: 30px 30px 30px 30px;
  }
  .pqr1 > h1 {
    padding: 20px 10px 20px 10px;
    text-align: center;
  }
  .pqr2 {
    float: left;
    margin: auto;
    width: 400px;
    text-align: center;
  }
  .pqrst {
    margin: auto;
    width: 800px;
  }
  .pqrs > h2 {
    text-align: start;
  }
  .container {
    height: 60vh;
    width: 40vh;
    display: flex;
    justify-content:start;
    align-items: center;
    background-color: white;
    float: left;
    margin: 20px 20px 20px 20px;
  }
  .text >h5 {
    clear: both;
  }
  .mno > p{
    text-align: center;
    float: left;
    margin: 10px 10px 10px 20px;
    width: 200px;
  }
  .vid1 {
    margin: 20px 00px 20px 50px;
    float: left;
  }
  .vid2 {
    float: left;
    width: 500px;
    margin: 20px 10px 20px 40px;
  }
  .pqrs {
    text-align: center;
    margin: 30px 0px 30px 0px;
    font-size: 13px;
  }
  .bot {
    text-align: center;
    margin: auto;
  }
  .bot > button {
    text-align: center;
    background-color: blue;
    padding: 10px 25px 10px 10px;
    color: white;
    font-size: 15px;
    width: 150px;
  }
  .bot1 > button {
    text-align: center;
    padding: 10px 25px 10px 10px;
    color: black;
    font-size: 15px;
    width: 150px;
    margin: 0px 0px 0px 600px;
  }
  .bot1 {
    margin: auto;
  }
  .gap {
    height: 50px;
    clear: both;
  }
  .box {
    height: 200px;
    background-color: white;
  }
  .box > h1 {
    margin: 30px 10px 10px 100px;
    color: gray;
    float: left;
  }
  .box >p {
    float: left;
    margin: 50px 10px 10px 200px;
  }
  .box > select > option {
    float: left;
    margin: 50px 10px 10px 10px;
  }
  .box1 {
    float: left;
  }
  .box1 > p {
    float: left;
    text-align: end;
    margin: 10px 10px 10px 10px;
  }
  .box1 > img {
    float: left;
    margin: 10px 10px 10px 10px;
  }
  /*# sourceMappingURL=main.css.map */